.wrapper{
  width: 100%;
}
.owl-carousel{
  /* max-width: 1200px; */
  /* margin: auto; */
  width: 100%;
  /* padding: 0 30px; */
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #ffc107!important;
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #ffc107!important;
}